body{
    font-family: 'Oswald', sans-serif;
    background-color: wheat;
    color: darkcyan;
    font-size: 18px;
    line-height: 1.9em;
    margin: 0;
}

body h2{
    color: black;
}

body h3{
    color: black;
}

#navbar{
    color: wheat;
    background-color: maroon;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main{
    border: double;
    padding: 30px;

}

hr{
    border-top: 9px dotted darkcyan;
  }

#aside{
    width: 40%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: dotted;
    border-radius: 50px;
    padding: 20px;
}

#aside #customer{
    color: black;
}

img{
    width: 155px;
    height: 200px;
    float: left;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 20px;
    box-sizing: border-box;
}